.products {
  background-color: var(--white-black);
}
.filter-product {
  background-color: var(--lightgrey-dark);
}
.filter-product > div {
  margin-bottom: 0;
  margin: 8px;
}
.first-row svg {
  fill: var(--black-white) !important;
}
.first-row input {
  z-index: 1;
}
.first-row label {
  color: var(--grey-white);
}
.btn {
  background-color: var(--lightgrey-dark);
}
#search-btn {
  background-color: var(--blue-pink);
}
.product-control {
  color: var(--grey-white);
  border-color: var(--lightgrey-dark);
}
.product-display-control button {
  all: unset;
  padding: 8px;
  border-radius: 100%;
}
.product-display-control button:hover {
  background-color: var(--grey-back);
}
.product-display-control svg {
  display: flex;
}
.item-container {
  width: 350px;
  color: var(--grey-white);
}
