@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --dark-grey: hsl(217, 92%, 10%);
  --grey-font: hsl(228, 10%, 80%);
  --grey-white: hsl(214, 30%, 32%);
  --lightgrey-dark: hsl(216, 100%, 97%);
  --blue-pink: hsl(212, 98%, 52%);
  --greyblue-black: hsl(230, 100%, 93%);
  --white-black: hsl(0, 0%, 100%);
  --black-white: hsl(231, 15%, 18%);
  --font-style: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --rotate: 0;
}
body {
  overflow-x: hidden;
  margin: 0;
  display: flex;
  font-family: var(--font-style);
}
body.dark {
  --dark-grey: hsl(230, 15%, 30%);
  --grey-font: hsl(228, 6%, 85%);
  --grey-white: hsl(60, 30%, 96%);
  --lightgrey-dark: hsl(233, 14%, 11%);
  --blue-pink: hsl(326, 100%, 74%);
  --greyblue-black: hsl(327, 26%, 15%);
  --white-black: hsl(231, 15%, 18%);
  --black-white: hsl(0, 0%, 100%);
}
.login-nav {
  width: 100vw;
  background-color: var(--dark-grey);
}
.header-container {
  display: flex;
  margin-inline: 250px;
  justify-content: center;
}
.header-item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.header-item > a,
.user-name {
  padding: 8px 10px;
  font-size: 1.125rem;
  color: var(--grey-font);
  font-family: var(--font-style);
  text-decoration: none;
}
.header-item > a:hover,
.header-item > a:focus {
  text-decoration: underline;
}
.nav {
  width: 100vw;
  background-color: var(--lightgrey-dark);
}
.nav a {
  user-select: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 250px;
  padding-block: 12px;
}
.nav-container a {
  font-family: var(--font-style);
  font-weight: 600;
}
.logo {
  padding: 6px 18px;
  background-color: var(--blue-pink);
  border-radius: 10px;
}
.logo a {
  font-size: 30px;
  color: var(--greyblue-black);
  cursor: pointer;
}
.nav-links {
  display: flex;
}
.nav-links a {
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--grey-white);
  text-decoration: none;
}
.nav-links a:active {
  background-color: var(--dark-grey);
  color: var(--grey-font);
}
.ui-links {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.ui-links svg {
  fill: var(--black-white);
}
.ui-links button {
  all: unset;
  padding-inline: 14px;
}
.theme-switch {
  height: 30px;
  width: 30px;
}
#toggle-theme {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200%;
  transform: translate(-30%, 4%) rotate(calc(var(--rotate) * 1deg));
  transition: transform 200ms ease-in-out;
}
#toggle-theme svg {
  position: absolute;
  width: 18px;
  height: 18px;
  transition: opacity 600ms ease-in-out;
}
.moon {
  opacity: 0;
  top: 5%;
}
.light {
  opacity: 0;
  bottom: 5%;
}
.dark {
  opacity: 1;
}
#cart svg {
  width: 24px;
  height: 24px;
}
.store-section {
  background-color: var(--white-black);
}
.home {
  padding-block: 80px;
  margin-inline: 150px;
  padding-inline: 25px;
}
.home-main {
  display: flex;
  justify-content: space-around;
}
.home-image {
  background-color: var(--dark-grey);
  display: flex;
  gap: 16px;
  width: 550px;
  height: 500px;
  padding: 16px;
  border-radius: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.home-image img {
  display: block;
  height: 470px;
  width: 372px;
  border-radius: 20px;
  object-fit: cover;
}
.home-header-text {
  margin-top: 25px;
  font-size: 60px;
  font-family: var(--font-style);
}
.home-desctiption {
  color: var(--grey-white);
  width: 496px;
  height: 396px;
}
.home-description-text {
  font-size: 20px;
  line-height: 32px;
}
#product-btn {
  all: unset;
  background-color: var(--blue-pink);
  margin-top: 25px;
  border-radius: 10px;
  padding: 14px 18px;
  color: var(--greyblue-black);
  font-weight: bold;
}
.feature-section {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-left: 75px;
  color: var(--grey-white);
}
.feature-header {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--lightgrey-dark);
}
